<!DOCTYPE html>
<html>
  <head>
    <title>Questionboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container"><div class="row">
      <div class="nav-wrapper">
        <%= link_to 'IP Temple', home_index_path, class: "brand-logo" %>
        <a href="" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <%= link_to 'All Questions', questions_path %>
          </li>
          <li>
            <%= link_to 'Answered', questions_answered_path %>
          </li>
          <li>
            <%= link_to 'Pending', questions_pending_path %>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile">
      <li>
        <%= link_to 'All Questions', questions_path %>
      </li>
      <li>
        <%= link_to 'Answered', questions_answered_path %>
      </li>
      <li>
        <%= link_to 'Pending', questions_pending_path %>
      </li>
    </ul>
    </div></div>

    <div id="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
