<!DOCTYPE html>
<html>
  <head>
    <title>Questionboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <nav>
        <div class="container"><div class="row">
        <div class="nav-wrapper">
          <%= link_to 'IP Temple', home_index_path, class: "brand-logo" %>
          <a href="" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">

            <% if user_signed_in? %>
              <li>
                <%= link_to questions_path  do%>
                  <i class="material-icons left">assignment</i>
                  All Questions
                <% end %>
              </li>
              <li>
                <%= link_to questions_answered_path do %>
                  <i class="material-icons left">assignment_turned_in</i>
                  Answered
                <% end %>
              </li>
              <li>
                <%= link_to questions_pending_path do%>
                  <i class="material-icons left">assignment_late</i>
                  Pending
                <% end %>
              </li>
              <li>
                <%= link_to(destroy_user_session_path, method: :delete) do %>
                <i class="material-icons left">exit_to_app</i>
                Logout
                <% end %>
              </li>  
            <% else %>
              <li>
                <%= link_to new_user_session_path do %>
                  <i class="material-icons left">school</i>
                  Teachers
                <% end %>
              </li>
            <% end %>

          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile">
        <% if user_signed_in? %>
          <li id="user-welcome">
            <h5>
              <%= "Welcome, #{current_user.login}" %>
            </h5>
          </li>
          <li>
            <%= link_to questions_path  do%>
              <i class="material-icons">assignment</i>
              All Questions
            <% end %>
          </li>
          <li>
            <%= link_to questions_answered_path do %>
              <i class="material-icons">assignment_turned_in</i>
              Answered
            <% end %>
          </li>
          <li>
            <%= link_to questions_pending_path do%>
              <i class="material-icons">assignment_late</i>
              Pending
            <% end %>
          </li>
          <li>
            <%= link_to(destroy_user_session_path, method: :delete) do %>
            <i class="material-icons">exit_to_app</i>
            Logout
            <% end %>
          </li> 
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="material-icons">school</i>
              Teachers
            <% end %>
          </li>
        <% end %>
      </ul>

      <div id="main">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2018 Heitorado
        <a class="grey-text text-lighten-4 right" href="https://github.com/heitorado">Github</a>
        </div>
      </div>
    </footer>
  </body>  
</html>
